[submodule "ai-coder"]
	path = ai-coder
	url = git@github.com:SeSiTing/ai-coder.git
	branch = main
[submodule "llms"]
	path = llms
	url = git@github.com:SeSiTing/llms.git
	branch = dev
[submodule "op-mcp"]
	path = op-mcp
	url = git@github.com:SeSiTing/op-mcp.git
	branch = main
[submodule "claude-code-sdk-python"]
	path = claude-code-sdk-python
	url = git@github.com:SeSiTing/claude-code-sdk-python.git
	branch = main
