[submodule "ai-coder"]
	path = ai-coder
	url = git@gitlab.blacklake.tech:daas/ai-coder.git
	branch = dev
[submodule "llms"]
	path = llms
	url = git@github.com:SeSiTing/llms.git
	branch = dev
[submodule "op-mcp"]
	path = op-mcp
	url = git@github.com:SeSiTing/op-mcp.git
	branch = main
[submodule "claude-code-router"]
	path = claude-code-router
	url = git@github.com:fooooooork/claude-code-router.git
	branch = main
[submodule "claude-agent-sdk-python"]
	path = claude-agent-sdk-python
	url = git@github.com:SeSiTing/claude-agent-sdk-python.git
	branch = dev
[submodule "op-agent"]
	path = op-agent
	url = git@gitlab.blacklake.tech:daas/op-agent.git
	branch = dev
[submodule "coder-templates"]
	path = coder-templates
	url = git@github.com:Blacklake-Tech/coder-templates.git
	branch = dev
[submodule "blacklake-claude-marketplace"]
	path = blacklake-claude-marketplace
	url = git@github.com:Blacklake-Tech/blacklake-claude-marketplace.git
	branch = dev
[submodule "claude-agent-sdk-demos"]
	path = claude-agent-sdk-demos
	url = https://github.com/anthropics/claude-agent-sdk-demos.git
[submodule "claude-code"]
	path = claude-code
	url = https://github.com/anthropics/claude-code.git
	branch = main
[submodule "skills"]
	path = skills
	url = https://github.com/anthropics/skills.git
	branch = main
[submodule "opencode"]
	path = opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
	branch = main
[submodule "ai-coder-gateway"]
	path = ai-coder-gateway
	url = git@gitlab.blacklake.tech:daas/ai-coder-gateway.git
	branch = dev
